@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=REM:wght@500&display=swap");

* {
  background-color: #22252e;
  color: white;
  font-family: "Inter", sans-serif;
  font-family: "REM", sans-serif;
  font-weight: 800;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.title {
  text-align: center;
  font-weight: 800;
}

.calculator {
  &__button {
    padding: 25px;
    border-radius: 10px;
    font-size: large;
    border-top: 4px solid #22252e;

    &--ac {
      color: #35fdd6;
    }

    &--u {
      color: #35fdd6;
    }

    &--percentage {
      color: #35fdd6;
    }

    &--divide {
      color: #ec6666;
    }

    &--x {
      color: #ec6666;
    }

    &--minus {
      color: #ec6666;
    }

    &--plus {
      color: #ec6666;
    }

    &--equal {
      color: #ec6666;
    }
  }
}

#display {
  width: 310px;
  height: 400px;
}
