* {
  background-color: #242424;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.calculator {
  background-color: #877878;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  line-height: 50px;
  border-radius: 50px;
}
